.accordion-button.collapsed {
  background: #252525;
  color: white;
}

/* Modify the floated position and size */
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.75) translateY(-1.5rem) translateX(0.25rem);
  font-size: 0.875em;
}

/* Remove bulky spacing */
.form-floating > .form-control,
.form-floating label,
.input-group-text,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control:placeholder-shown,
input[type=text],
.btn,
input-duration.form-control {
  padding: 5px;
  height: auto;
  min-height: auto;
  line-height: normal;
}

#form_container > label {
  margin-bottom: 7px;
}

form > div + div,
#form_container > :not(label) + *{
  margin-top: 15px;
}

#form_container > hr + label {
  margin-top: 0px;
}

#form_container > .form-text {
  margin-top: 2px;
  color: rgb(155, 155, 155);
}

.alert > .btn-close {
  height: 24px;
  padding: 0.25rem; /* same as p-1 */
  margin-right: 0.25rem;
}

.alert > div > div:first-child {
  color: rgba(0, 0, 0, 0.4);
  margin-right: 0.25rem;
}

.calculated {
  background: rgb(236, 235, 240);
}

input-duration {
  /* display: flex; */

  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  /* padding: 4px; */
  /* width: min-content; */
}

.duration-container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  gap: 0px;
}

input-duration * {
  padding: 0;
}

.duration-container input {
  /* display: inline; */
  width: 2rem;
  text-align: right;
  border: none;
  padding: 0;
}
.duration-container input:nth-child(1) {
  text-align: right;
  width: 3ch;
}
.duration-container input:nth-child(3) {
  text-align: center;
  width: 2ch;
}
.duration-container input:nth-child(5) {
  text-align: left;
  width: 2ch;
}

/* .duration-container span {
  width: min-content;
} */