.accordion-button.collapsed {
  background: #252525;
  color: white;
}

/* Modify the floated position and size */
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.75) translateY(-1.5rem) translateX(0.25rem);
  font-size: 0.875em;
}

/* Remove bulky spacing */
.form-floating > .form-control,
.form-floating label,
.input-group-text,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control:placeholder-shown,
input[type=text],
.btn {
  padding: 5px;
  height: auto;
  min-height: auto;
  line-height: normal;
}

#form_container > label {
  margin-bottom: 7px;
}

form > div + div,
#form_container > :not(label) + *{
  margin-top: 15px;
}

#form_container > hr + label {
  margin-top: 0px;
}

#form_container > .form-text {
  margin-top: 2px;
  color: rgb(155, 155, 155);
}

.alert > .btn-close {
  height: 24px;
  padding: 0.25rem; /* same as p-1 */
  margin-right: 0.25rem;
}

.alert > div > div:first-child {
  color: rgba(0, 0, 0, 0.4);
  margin-right: 0.25rem;
}